
#main-cont {
    background-color: rgb(154, 204, 220) !important;
}

.linkcv {
    text-decoration: none;
    color: black;
}

.cont {
    border-radius: 0px !important;
}

#rename-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
