main {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.spaced {
    padding-top: 10px;
}

.lang {
    background-image: url("../img/lang.jpg");
}

.title {
    background-image: url("../img/title.jpg");
}

.dark {
    background-color: black;
    color:white;
}

h2 {
    color: white;
    padding-bottom: 5px;
}