main {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.spaced {
    padding-top: 10px;
}

.padded {
    background-image: url("../img/lang.jpg");
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.title {
    background-image: url("../img/title.jpg");
}

.exp {
    background-image: url("../img/exp.jpg");
}

.about {
    background-image: url("../img/about.jpeg");
}

.dark {
    background-color: black;
    color:white;
}

h2 {
    color: white;
    padding-bottom: 5px;
}

.darkh2 {
    color: black;
}


.label {
    color: black;
}

.nml {
    margin-left: 0px !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
