/*GENERAL RULES*/
body {
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/*CSS RULES FOR NAVIGATION BAR*/
.navbar {
    margin-bottom: 20px;
    padding: 10px;
}

.navbar-contrast {
    background-color: darkslategrey !important;
}

.navbar-brand {
    color: lightblue;
}

.navbar-brand:hover {
    color: lightblue;
}

.navbar-contrast ul li a {
    border-radius: 5px;
    color: lightblue;
}
.navbar-contrast ul li a:hover {
    background-color: greenyellow;
    color: black;
    
}



/*CSS RULES FOR LOGIN FORM*/
.login-form {
    width: 300px !important;
    height: 431px !important;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    background-color: rgb(245, 239, 239);
}
.title-form {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.input-form {
    display: block;
    width: 250px;
    height: 58px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
}

.input-user {
    position: relative;
    width: 250px;
    height: 58px;
    padding: 20px;
    border-radius: 5px;
}

.input-pass {
    position: relative;
    width: 250px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-form {
    margin: 10px;
    border-radius: 5px !important;
    border-color: darkslategrey;
    border-width: 2px;
    background-color: darkslategrey;
}

.btn-form:hover {
    background-color: greenyellow;
    border-color: greenyellow;
    color: black;
    border-width: 2px;
}

.button-anchor {
    text-decoration: none;
    color: white;
}

.button-anchor:hover{
    text-decoration: none;
    color: black;
}

/*CSS RULES FOR CREATE USER FORM*/
.create-user-form {
    width: 350px !important;
    height: 1030px !important;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    background-color: rgb(245, 239, 239);
}

.valid-form {
    background-color: lightgreen !important;
}

.invalid-form {
    background-color: lightcoral;
}

/*CSS RULES FOR FORM MISTAKES*/
.error {
    color:crimson;
    
}

/*CSS RULES FOR TABLES*/ 
.table-responsive-sm {
    padding: 5px !important;
}

td {
    background-color: rgb(245, 239, 239) !important;
    text-align: center;
    color: black;
}

tr:hover {
    background-color: greenyellow !important;
}

th {
    background-color: darkslategrey !important;
    color: lightblue;
    text-align: center;
}



/*CSS RULES FOR FOOTER*/
footer {
    z-index: 2;
    width: 100%;
    position: fixed;
    bottom: -23px;
    margin-top: 200px !important;
    margin-bottom: 0px !important;
    background-color: darkslategrey;
}

.mb-3 {
    color: lightblue !important;
}

footer ul {
    margin-right: 10px;
}

footer ul li a svg:hover {
    color: greenyellow !important;
}

/*MEDIA QUERY FOR NAVIGATION BAR*/
@media screen and (max-width: 576px) {
    .navbar-contrast ul li a {
        padding: 8px;
    }

    .navbar-toggler {
        background-color: lightblue;
        color: black;
    }

    .navbar-toggler:hover {
        background-color: greenyellow;
    }

    .navbar-collapse {
        padding-top: 10px;
    }

    
}
