#welcome-msg {
    opacity: 0;
    -webkit-transition: opacity 0.9s ease-in-out;
    -moz-transition: opacity 0.9s ease-in-out;
    -ms-transition: opacity 0.9s ease-in-out;
    -o-transition: opacity 0.9s ease-in-out;
    transition: opacity 0.9 ease-in-out;

}

#welcome-msg.fade {
    opacity: 1;
}

.lead {
    margin-top: 15px !important;
}

.py-lg-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}